@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&display=swap");

@layer base {
  body {
    @apply bg-bgDarkBlue;
  }

  small {
    @apply mb-4 block text-textDarkBlue;

  }

  form input,
  textarea {
    @apply p-2 bg-transparent border;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #12232E;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #12232E;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #12232E;
  border-radius: 14px;
  border: 2px solid #EEFBFB;
}